/* 
    Document   : kandt.css
    Created on : May 14, 2013, 1:05:58 PM
    Author     : Todd.Rowan
    Description:
        Sets up our sliders galleries.
*/

.cycle_imgs_box {
    float: left;
    height: 150px;
    width: 150px;
    padding-right: 15px;
    position: relative;
}

.cycle_img_div {
    height:150px;
    width:150px;
}

.cycle_img {
    position: absolute;
    top: 0px;
}

.cycle_overlay {
    position: absolute;
    top: 40px;
    width: 75px;
    z-index: 500;
    left: 38px;
    opacity: .85;
    display: none;
}

.cycle_imgs {
    position: relative;
}

.cycle_overlay_show {
    display: block;
}

.tos-caption {
    background-color: rgba(0,0,0,0.33);
    padding: 10px;
    font-size: 18px;
}

.tos-caption-0 {
    font-size: 18px;
}

.tos-slide.tos-image > img {
    image-orientation: none;
}

#mapBox {
    display:none;
    position:fixed;
    z-index:-500;
    background-color: rgba(0,0,0,0.5);
}

#galmap {
    height:800px;
    width:800px;
    margin: auto;
}

#maplink {
    cursor: pointer;
}

.globe {
  height: 15px;
  position: relative;
  top: 3px;
}

.gm-style img { 
    max-width: none; 
}
.gm-style label {
    width: auto; 
    display: inline; 
}

@media screen and (min-width : 460px) and (max-width : 629px) {
     .cycle_imgs_box {
        padding-right: 5px;
        padding-top: 7px;
     } 
     
     .cycle_img,.cycle_imgs_box {
         height: 100px;
         width: 100px;
     }
     
     .cycle_overlay {
         top: 66px;
         width: 45px;
         left: 55px;
     }
}

@media screen and (max-width: 459px) {
     .cycle_imgs_box {
         padding-right: 5px;
         padding-top: 5px;
     } 
     
     .cycle_img,.cycle_imgs_box {
         height: 75px;
         width: 75px;
     }
     
     .cycle_overlay {
         top: 53px;
         width: 30px;
         left: 45px;
     }
}